@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background-primary: #eaeaea;
  --background-secondary: #f5f5f5;
  --background-tertiary: #ffffff;

  --text-primary: #161616;
  --text-secondary: #333333;
  --text-tertiary: #555555;
}

.dark {
  --background-primary: #2c2c2c;
  --background-secondary: #3a3a3a;
  --background-tertiary: #444444;

  --text-primary: #fcfcfd;
  --text-secondary: #dddddd;
  --text-tertiary: #aaaaaa;
}

body {
  background-color: var(--background-primary);
  color: var(--text-primary);
}

.text-4xl {
  font-size: 2.5rem;
  line-height: 3rem;
}

.text-3xl {
  font-size: 2rem;
  line-height: 2.375rem;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 1.75rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.text-2lg {
  font-size: 1.125rem;
  line-height: 1.3125rem;
}

.text-lg {
  font-size: 1rem;
  line-height: 1.1875rem;
}

.text-md {
  font-size: 0.875rem;
  line-height: 1.0625rem;
}

.text-sm {
  font-size: 0.8125rem;
  line-height: 1rem;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 0.875rem;
}
