@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background-primary: #eaeaea;
  --background-secondary: #f5f5f5;
  --background-tertiary: #fafaf8;

  --text-primary: #161616;
  --text-secondary: #333333;
  --text-tertiary: #555555;
}

.dark {
  --background-primary: #2c2c2c;
  --background-secondary: #3a3a3a;
  --background-tertiary: #444444;

  --text-primary: #fcfcfd;
  --text-secondary: #dddddd;
  --text-tertiary: #aaaaaa;
}

body {
  background-color: var(--background-tertiary);
  color: var(--text-primary);
}

@theme {
  --color-best: oklch(88.5% 0.062 18.334);
  --color-good: oklch(76.5% 0.177 163.223);
  --color-normal: oklch(85.2% 0.199 91.936);
  --color-bad: oklch(80.9% 0.105 251.813);
  --color-worst: oklch(75% 0.183 60.934);

  --color-brand-primary: oklch(0.7335 0.0825 145.2);
  --color-brand-primary-hover: color-mix(
    in oklch,
    var(--color-brand-primary),
    black 10%
  );

  --color-complete-border: oklch(0.5984 0.0763 144.55);
  --color-complete-bg: var(--color-brand-primary);
  --color-complete-hover: var(--color-brand-primary-hover);

  --color-cancel-border: oklch(0.8141 0.0137 251.58);
  --color-cancel-bg: oklch(1 0 0);
  --color-cancel-hover: color-mix(
    in oklch,
    oklch(1 0 0),
    oklch(0.8141 0.0137 251.58) 10%
  );
  --color-cancel-text: oklch(0.4938 0.0219 145.23);

  --color-warn-border: oklch(0.65 0.15 28);
  --color-warn-bg: oklch(0.63 0.17 28);
  --color-warn-hover: color-mix(in oklch, var(--color-warn-bg), black 10%);
}

.text-4xl {
  font-size: 2.5rem;
  line-height: 3rem;
}

.text-3xl {
  font-size: 2rem;
  line-height: 2.375rem;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 1.75rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.text-2lg {
  font-size: 1.125rem;
  line-height: 1.3125rem;
}

.text-lg {
  font-size: 1rem;
  line-height: 1.1875rem;
}

.text-md {
  font-size: 0.875rem;
  line-height: 1.0625rem;
}

.text-sm {
  font-size: 0.8125rem;
  line-height: 1rem;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 0.875rem;
}
